---
layout: default
---
<article itemscope itemtype="http://schema.org/Organization" class="organization">
  <header class="post-header">
    <div class="breadcrumb">
    {% if page.parentOrganization %}
      {%- assign parent = site.organization | where: "identifier", page.parentOrganization | first -%}
      {%- unless parent -%}
        {%- assign parentpath = page.parentOrganization | append: ".md" -%}
        {%- assign parent = site.pages | where: "path", parentpath | first -%}
      {%- endunless -%}
    {% endif %}
    {% if page.parentOrganization %}
      <span class="parentOrganization" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="{{ parent.url }}">{{ parent.title }}</a> › 
      </span>
    {% endif %}
    </div>
    {% if page.image %}
      <div class="page-image">
        <img title="{{ page.title }}" alt="Imagem representativa" src="{{ page.image }}" />
      </div>
    {% endif %}
    {% if page.date %}
      <p class="date">Última atualização: {{ page.date | date: "%e %B %Y" }}</p>
    {% endif %}

    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
  {%- if page.collection -%}
  {%- else -%}
    {%- assign groups = site.organization | where: "parentOrganization", page.slug -%}
    {%- for group in groups %}
      {% include organization.html %}
    {%- endfor -%}
  {%- endif %}

    {%- if page.sameAs -%}
      <p class="url" itemprop="url">
        <a href="{{ page.sameAs }}">Site próprio</a>
      </p>
    {% endif %}
    {% if page.email %}
    {% endif %}
    {% if page.telephone %}
    {% endif %}
    <p class="description" itemprop="description">{{ page.description }} </p>
    {% if page.keywords %}
    <ul class="keywords" itemprop="keywords">
      <span class="keywords-title">Palavras-chave:</span>
      {% for keyword in page.keywords %}
        <li>{{ keyword }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {{ content }}

    {%- assign projects = site.organization | where: "parentOrganization", page.slug -%}
    {%- if projects[0] -%}
      <h2 id="projetos">Projetos de pesquisa</h2>
      <ul class="projects">
        {%- for project in projects -%}
          <li itemscope itemtype="http://schema.org/Organization">
            <a href="{{ project.url }}">{{ project.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- assign members = site.person -%}
    {%- capture memberlist -%}
      {%- for member in members -%}
        {%- assign affiliates = member.affiliation | where: "Organization", page.slug -%}
        {%- for item in affiliates -%}
          {%- if item.Organization == page.slug -%}
          <li itemscope itemtype="http://schema.org/Person">
            <a href="{{ member.url }}">{{ member.givenName }} {{ member.additionalName }} {{ member.familyName }}</a>
          </li>
          {% endif %}
        {%- endfor -%}
      {%- endfor -%}
    {%- endcapture -%}
    {%- if memberlist.size > 0 -%}
    <h2 id="integrantes">Integrantes</h2>
    <ul class="members">
      {{ memberlist }}
    </ul>
    {%- endif -%}
  </div>
</article>
<!-- vim: set ft=liquid shiftwidth=2 tabstop=2 expandtab foldmethod=indent : -->
